{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">

      {{ with .Params.Content }}
      <div class="article-style">{{ . }}</div>
      {{ end }}


{{/*  {{ $urlPre := "https://api.github.com/repos/ohbm/hackathon2020/issues?per_page=100" }}
     {{ $.Scratch.Set "counter" 0 }}
    {{ $projects := getJSON $urlPre }}
    {{ $ready_to_publish := "Hackathon project" }}
    
      {{range $index, $project := $projects }}
    
    {{ range $project.labels }} 
        {{if in $ready_to_publish .name }}
        <a href="{{ $project.html_url}}"><h3>{{ $project.title}}</h3></a>
        List of labels: <ul>{{ range $project.labels }} <li class=""> {{ .name }} {{end}}</li></ul>
        {{ $project.body | markdownify | emojify }}
        <hr>
        {{end}}
    {{end}}
    {{end}}

    </div>
  </div>
</div>  */}}

{{- end -}}
